@page "/products"
@using HttpClientMessenger.Service

<PageTitle>Products</PageTitle>

<h1>Products</h1>

@if (_products.Count > 0)
{
    @foreach (var product in _products)
    {
        <SingleProduct Product="product" />
    }
}


@code {

    [Inject]
    private IHttpMessenger? HttpMessenger { get; set; }

    private IList<ProductDto> _products = new List<ProductDto>();

    protected override async Task OnInitializedAsync()
    {
        if (HttpMessenger == null)
            return;

        var products = await HttpMessenger.Get<IList<ProductDto>>("products");
        _products = products.Data!;
    }

}