@page "/products/edit/{id}"
@using HttpService.Service
@using HttpService.Helpers

<h3>EditProduct</h3>

@if (_product != null)
{
    <div style="margin-bottom: 10px">
        <select @bind="@_type">
            <option value="put">PUT</option>
            <option value="patch">PATCH</option>
        </select>
    </div>

    <EditForm Model="_product" OnSubmit="OnSubmit">
        <div style="margin-bottom: 10px">
            <InputText @bind-Value="_product.Name" placeholder="Product name..."/>
        </div>
        <div style="margin-bottom: 10px">
            <InputNumber @bind-Value="_product.Price" placeholder="Product price..."/>
        </div>
        <div style="margin-bottom: 10px">
            <InputTextArea @bind-Value="_product.Description" placeholder="Product description..."/>
        </div>
        <button type="submit">Update</button>
    </EditForm>
}

@code {

    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Inject]
    public IHttpService? HttpService { get; set; }
    
    [Inject]
    private NavigationManager? NavigationManager { get; set; }

    private UpdateProductDto? _product;
    private string _type = "put";

    protected override async Task OnParametersSetAsync()
    {
        if (HttpService == null)
            return;

        var response = await HttpService.Get<UpdateProductDto>("products/" + Id);

        _product = response.Data;
        if (_product != null) _product.Price /= 100;

        await base.OnParametersSetAsync();
    }

    private async Task OnSubmit()
    {
        if (HttpService == null)
            return;

        if (_product != null) _product.Price *= 100;
        
        ResponseWrapper? response = null;

        if (_type == "put")
        {
            response = await HttpService.Put("products/put/" + Id, _product);
        }
        else
        {
            response = await HttpService.Patch("products/patch/" + Id, _product);
        }

        if (response.Success)
        {
            NavigationManager?.NavigateTo("/products/" + Id);
        }
    }

}