@page "/product"
@using HttpService.Service

<PageTitle>Product</PageTitle>

<h1>Product</h1>

<div style="margin-bottom: 20px">
    <input @bind="@_id" />
    <button @onclick="GetProduct">Search</button>
</div>

@if (_product != null)
{
    <SingleProduct Product="_product" />
}



@code {

    [Inject]
    private IHttpService? HttpService { get; set; }

    private string _id = string.Empty;

    private ProductDto? _product;

    private async Task GetProduct()
    {
        if (HttpService == null)
            return;
        
        var response = await HttpService.Get<ProductDto>("products/" + _id);
        
        if (response.Data == null)
            return;

        _product = response.Data;
    }
}